.color-blue-80 {
    color: #B3D9FF;
}
.color-blue-grey-80 {
    color: #B8C5D1;
}
.color-cyan-80 {
    color: #B3F2FF;
}
.color-blue-40 {
    color: #1976D2;
}
.color-blue-grey-40 {
    color: #2e72b1;
}
.color-cyan-40 {
    color: #00d6ee;
}